import os

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

settings = {
    "SITE_URL": "",
    "secret_key": "",
    "db": {
        "host": "",
        "user": "",
        "password": "",
        "database": "",
        "port": ,
        "charset": "utf8"
    },
    "redis": {
        "host": ""
    },
    "CELERY_SETTINGS": {
        'namespace': 'user_search',
        'broker_url': 'redis://:6379/0',
        'result_backend': 'redis://:6379/1'
    }
}
